<!DOCTYPE html>
<html class="no-js" lang="en_US">

<head>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/s1806.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/o1806.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/r1806.css') }}" type="text/css">

	<title>typosquat tool</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

	<script src="../static/js/index.js"></script>

</head>

<body id="pg-index" class="page-index body--home">

	<script type="text/javascript">
	var settings_js_version = "/s2473.js",
	    locale = "en_US";
	</script>

	<div class="site-wrapper  site-wrapper--home  js-site-wrapper">
		<div class="header-wrap--home  js-header-wrap">
			<div class="header--aside js-header-aside"></div>
		</div>

		<div id="" class="content-wrap--home">
			<div id="content_homepage" class="content--home">
				<div class="cw--c">
					<div class="logo-wrap--home">
						<img src="{{ url_for('static', filename='images/KittyLogoNoBack.png') }}" style="width:100px;margin:0 auto;display:block">
<!-- 						<a id="logo_homepage_link" class="logo_homepage" href="/about">
							About DuckDuckGo
							<span class="logo_homepage__tt">Learn More</span>
 -->						</a>
					</div>
					<div class="search-wrap--home">
						<form id="search_form_homepage" class="search  search--home  js-search-form" name="x" method="POST" action="javascript:;" onsubmit="jeff()">
							<input id="search_form_input_homepage" class="search__input  js-search-input" type="text" autocomplete="off" name="q" tabindex="1" value="">
							<input id="search_button_homepage" class="search__button  js-search-button" type="submit" tabindex="2" value="S" />
							<input id="search_form_input_clear" class="search__clear  empty  js-search-clear" type="button" tabindex="3" value="X" />
							<div id="search_elements_hidden" class="search__hidden  js-search-hidden"></div>
						</form>

						<div class="cw">
							<div id="links_wrapper" class="serp__results js-serp-results">
								<div class="results--main">
									<div id="links" class="results js-results" style="height: 300px; overflow-y:auto;">
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="tag-home  tag-home--slide  no-js__hide  js-tag-home"></div>
	        		<div id="error_homepage"></div>
				</div> <!-- cw -->
			</div> <!-- content_homepage //-->
		</div> <!-- content_wrapper_homepage //-->
		<div id="footer_homepage" class="foot-home  js-foot-home"></div>

	</div> <!-- site-wrapper -->

</body>

</html>
