<!DOCTYPE html>
<html class="no-js" lang="en_US">

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/s1806.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/o1806.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/r1806.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tldselect.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/helptip.css') }}" type="text/css">


	<title>typosquat tool</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="../static/js/index.js"></script>
    <div class ="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" style="width:200px;display:block;margin-left:15px;margin-top:15px">
    </div>
</head>

<body id="pg-index" class="page-index body--home">

	<script type="text/javascript">
	var settings_js_version = "/s2473.js",
	    locale = "en_US";
	</script>

	<div class="site-wrapper  site-wrapper--home  js-site-wrapper">
		<div class="header-wrap--home  js-header-wrap">
			<div class="header--aside js-header-aside"></div>
        </div>
        
		<div id="" class="content-wrap--home">
			<div id="content_homepage" class="content--home">
				<div class="cw--c">
					<div class="logo-wrap--home">
						<img src="{{ url_for('static', filename='images/KittyLogoNoBack.png') }}" style="width:100px;margin:0 auto;display:block">
					</div>

 					<div class="search-wrap--home">
						<div class="help-tip">
								<p>Check your domain for its most commonly misspelled alternatives!</p>
							</div>
						<form id="search_form_homepage" class="search  search--home  js-search-form" name="x" method="POST" action="javascript:;" onsubmit="jeff()">
							<input id="search_form_input_homepage" class="search__input  js-search-input" type="text" autocomplete="off" name="q" tabindex="1" value="" placeholder="Enter a domain... (google.com)">
							<!-- <input id="asdf" class="search__input  js-search-input" type="text" autocomplete="off" name="q" tabindex="2" value="" placeholder="Enter a "> -->
							<div class="selectdiv search__tld">
								<label>
									<select id="tld_drop_down" class="search__tld" tabindex="2" form="search_form_homepage">
										<option value=".com">.com</option>
										<option value=".co">.co</option>
										<option value=".org">.org</option>
										<option value=".net">.net</option>
									</select>
								</label>
							</div>

 							<input id="search_button_homepage" class="search__button  js-search-button" type="submit" tabindex="3" value="S" />
							<input id="search_form_input_clear" class="search__clear  empty  js-search-clear" type="button" tabindex="4" value="X" />
							<div id="search_elements_hidden" class="search__hidden  js-search-hidden"></div>
						</form>

						<div class="cw">
							<div id="links_wrapper" class="serp__results js-serp-results">
								<div class="results--main">
									<div id="links" class="results js-results" style="height: 300px; overflow-y:auto;"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="tag-home  tag-home--slide  no-js__hide  js-tag-home"></div>
	        		<div id="error_homepage"></div>
				</div> <!-- cw -->
			</div> <!-- content_homepage //-->
		</div> <!-- content_wrapper_homepage //-->
		<div id="footer_homepage" class="foot-home  js-foot-home"></div>

	</div> <!-- site-wrapper -->

</body>

</html>
