.post-install__slides,.slider{
	width:100%;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center
	}
	.post-install__slider-window,.slider__window{
	max-width:100%;margin:0 auto
	}
	.post-install__slider-wrap,.slider__wrap{
	display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;max-width:100%;position:relative;-webkit-transition:margin-left .4s ease-out;-moz-transition:margin-left .4s ease-out;-o-transition:margin-left .4s ease-out;transition:margin-left .4s ease-out
	}
	.post-install__slide,.slider__item{
	display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:100%;-webkit-transition:opacity .3s ease-in-out;-webkit-transition-delay:0s;-moz-transition:opacity .3s ease-in-out 0s;-o-transition:opacity .3s ease-in-out 0s;transition:opacity .3s ease-in-out 0s;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);vertical-align:top;white-space:normal;opacity:0
	}
	.no-js .post-install__slide,.is-active.post-install__slide,.no-js .slider__item,.slider__item.is-active{
	opacity:1
	}
	.is-first.post-install__slide,.slider__item.is-first{
	-webkit-transition:margin-left .3s,opacity .3s;-moz-transition:margin-left .3s,opacity .3s;-o-transition:margin-left .3s,opacity .3s;transition:margin-left .3s,opacity .3s
	}
	.post-install__nav__dots,.slider-nav{
	display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;margin:1em 0
	}
	.post-install__nav__dot,.slider-nav__item{
	display:inline-block;font-size:15px;width:10px;height:10px;margin:0 6px;background-color:#e0e0e0;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;vertical-align:middle;list-style:none;cursor:pointer
	}
	.is-active.post-install__nav__dot,.slider-nav__item.is-active{
	background-color:#ED7C5C
	}
	.slider__arrow{
	-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-moz-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:42px;height:42px;border-radius:100%;background-color:#EEE;cursor:pointer;font-size:1.2em;text-align:center;line-height:42px;z-index:1;margin:auto;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
	}
	.slider__arrow:active{
	opacity:0.65
	}
	.slider__arrow.no-scroll{
	cursor:default;opacity:0.25
	}
	.slider--prev{
	padding-right:1px
	}
	.slider--next{
	padding-left:1px
	}
	@media only screen and (max-width: 864px){
	.slider__arrow{
	display:none
}

	}
	body{
	transition:margin-left 0.5s ease-out 0s
	}
	body.has-post-install-split{
	margin-left:45%
	}
	@media only screen and (max-width: 899px), screen and (max-height: 599px){
	body.has-post-install-split{
	margin-left:0;transition:none
}

	}
	.post-install-split{
	height:100%;position:fixed;background-color:white;width:45%;min-width:400px;padding:60px;box-sizing:border-box;transition:left 0.5s ease-out 0s;left:-50%
	}
	.has-post-install-split .post-install-split{
	left:0
	}
	@media only screen and (max-width: 1400px){
	.post-install-split{
	padding:40px
}

	}
	@media only screen and (max-width: 899px), screen and (max-height: 599px){
	.post-install-split{
	display:none
}

	}
	.post-install__dismiss{
	position:absolute;top:18px;right:28px;color:#888;font-size:22px
	}
	.post-install__nav{
	position:absolute;bottom:20px
	}
	@media only screen and (max-width: 1400px){
	.post-install__nav{
	bottom:10px
}

	}
	.post-install__nav__dots{
	margin-bottom:20px
	}
	@media only screen and (max-height: 750px){
	.post-install__nav__dots{
	display:none
}

	}
	.post-install__nav__dot{
	background-color:#d8d8d8
	}
	.post-install__nav__dot.is-active{
	background-color:#000
	}
	.post-install__nav__next{
	display:block;margin-bottom:13px;height:50px;width:180px
	}
	@media only screen and (max-width: 1400px){
	.post-install__nav__next{
	margin-bottom:8px
}

	}
	.post-install__nav__back{
	display:block;width:100%;text-align:center;font-weight:600;font-size:14px;line-height:25px;opacity:0
	}
	.post-install__nav__back,.post-install__nav__back:hover,.post-install__nav__back:visited,.post-install__nav__back:active{
	color:#4495d4
	}
	.post-install__slides{
	-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;height:100%
	}
	.post-install__slider-window{
	width:540px;height:100%
	}
	.post-install__slider-wrap{
	height:calc(100% - 140px)
	}
	.post-install__slide{
	-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-moz-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;height:100%;max-height:700px;display:flex;flex-direction:column;position:absolute;top:0;right:0;transition:none;opacity:1
	}
	.post-install__slide.is-active{
	visibility:visible
	}
	@media only screen and (max-width: 1000px){
	.post-install__slide{
	max-height:500px
}

	}
	.post-install__slide__image{
	flex:2 0 320px;width:100%;position:relative
	}
	@media only screen and (max-height: 700px){
	.post-install__slide__image{
	max-height:265px
}

	}
	.post-install__slide__text{
	flex:1 1 auto;padding-top:20px
	}
	.post-install__slide__title{
	font-weight:600;font-size:36px;line-height:40px;color:#222;position:relative;transition:top .3s step-end 0.2s,opacity 0.3s ease-out 0s;top:30px;opacity:0
	}
	.is-active .post-install__slide__title{
	transition:top .3s ease-out .4s,opacity .3s ease-out .4s;top:0;opacity:1
	}
	@media only screen and (max-width: 1050px), screen and (max-height: 750px){
	.post-install__slide__title{
	font-size:30px;line-height:36px
}

	}
	.post-install__slide__body{
	color:#494949;font-size:20px;line-height:30px;position:relative;transition:top .3s step-end 0.2s,opacity 0.3s ease-out 0s;top:30px;opacity:0
	}
	.is-active .post-install__slide__body{
	transition:top .3s ease-out .5s,opacity .3s ease-out .5s;top:0;opacity:1
	}
	@media only screen and (max-width: 1050px), screen and (max-height: 750px){
	.post-install__slide__body{
	font-size:16px;line-height:23px
}

	}
	.post-install__slide__bg{
	position:absolute;top:50%;transform:translate(0, -50%);transition:opacity .3s ease-out 0s;opacity:0
	}
	.is-active .post-install__slide__bg{
	transition:opacity .3s ease-out .2s;opacity:1
	}
	.post-install__slide--overview .post-install__slide__bg{
	display:none
	}
	.post-install__slide__screenshot{
	position:absolute;height:100%;max-width:none;left:50%;transform:translate(-50%, 0);transition:top .3s step-end 0.2s,opacity 0.3s ease-out 0s;top:30px;opacity:0
	}
	.is-active .post-install__slide__screenshot{
	transition:top .3s ease-out .3s,opacity .3s ease-out .3s;top:0;opacity:1
	}
	.body--home,.site-wrapper--home{
	background:#f7f7f7
	}
	.site-wrapper--home{
	height:100%
	}
	.site-wrapper--home:before{
	display:none !important
	}
	.content-wrap--home{
	position:absolute;margin:auto;width:100%;top:24%;left:0;right:0;z-index:12
	}
	.logo-wrap--home{
	position:relative;display:block;max-width:300px;margin:auto;margin-bottom:.8em;margin-top:-1.25em
	}
	@media only screen and (max-width: 425px){
	.logo-wrap--home{
	margin-bottom:1.25em;margin-top:0
}

	}
	@media only screen and (max-height: 425px){
	.logo-wrap--home{
	margin-bottom:0;margin-top:0
}

	}
	.search-wrap--home{
	padding:1.3em .8em 1em;max-width:590px;margin-left:auto;margin-right:auto;display:block;float:none;width:100%
	}
	@media only screen and (max-width: 590px){
	.search-wrap--home{
	width:80%
	}
	.has-search-focus .search-wrap--home{
	width:auto
}

	}
	@media only screen and (max-width: 425px){
	.search-wrap--home{
	width:auto
}

	}
	.tag-home{
	position:relative;line-height:1.4;font-size:1.25em;padding:0;margin:.5em auto;text-align:center;color:#9a9a9a
	}
	@media only screen and (max-width: 590px){
	.tag-home{
	font-size:1em
}

	}
	.tag-home__link,.tag-home__link:hover,.tag-home__link:visited,.tag-home__link:active{
	color:#4495d4
	}
	.foot-home{
	position:absolute;bottom:14%;left:0;right:0;width:100%;padding:1em 0;text-align:center
	}
	.lt-ie9 .foot-home{
	display:none
	}
	.foot-home.show-on-small-screens{
	display:block
	}
	.foot-home.fix-to-bottom{
	display:block;bottom:0;padding:0;height:auto !important;right:0
	}
	@media only screen and (max-width: 590px){
	.foot-home{
	font-size:.9176em
}

	}
	@media only screen and (max-height: 425px){
	.foot-home{
	display:none
}

	}
	@media only screen and (max-height: 425px){
	.foot-home,.foot-home.show-on-small-screens{
	display:none
}

	}
	.blurred-animation .header--aside,.blurred-animation .header-wrap--hero,.blurred-animation .content-wrap--home,.blurred-animation .onboarding-ed,.blurred-animation .onboarding-scroll-teaser,.blurred-animation .foot-home{
	-webkit-transition:all .3s ease-in-out;-webkit-transition-delay:0s;-moz-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);opacity:1
	}
	.is-blurred .header--aside,.is-blurred .header-wrap--hero,.is-blurred .content-wrap--home,.is-blurred .onboarding-ed,.is-blurred .onboarding-scroll-teaser,.is-blurred .foot-home{
	opacity:0.5
	}
	.is-blurred.cssfilters .header--aside,.is-blurred.cssfilters .header-wrap--hero,.is-blurred.cssfilters .content-wrap--home,.is-blurred.cssfilters .onboarding-ed,.is-blurred.cssfilters .onboarding-scroll-teaser,.is-blurred.cssfilters .foot-home{
	-webkit-filter:blur(5px);-moz-filter:blur(5px);filter:blur(5px);opacity:1
	}
	@media only screen and (max-height: 361.25px) and (min-width: 864px){
	.content-wrap--home{
	margin-bottom:3em;text-align:center
	}
	.content--home{
	padding-bottom:2em;display:inline-table
	}
	.content--home .cw--c{
	display:table-row
	}
	.logo-wrap--home,.search-wrap--home{
	display:table-cell;vertical-align:middle
	}
	.search-wrap--home{
	text-align:left
	}
	.search--home{
	margin-left:1em;margin-top:-.25em
	}
	.logo_homepage{
	margin-left:-22px;margin-right:-22px
	}
	.tag-home{
	display:none
}

	}
	@media only screen and (max-height: 590px){
	.content-wrap--home{
	top:20%
}

	}
	@media only screen and (min-height: 700px){
	.foot-home{
	bottom:20%
}

	}
	@media only screen and (max-height: 520px){
	.tag-home{
	display:none
}

	}
	@media only screen and (max-height: 650px){
	.is-firefox-focus .tag-home{
	display:none
}

	}
	@media only screen and (max-height: 560px) and (min-width: 320px){
	.is-firefox-focus .fix-to-bottom{
	display:none !important
}

	}
	@media only screen and (max-height: 455px){
	.fix-to-bottom{
	display:none !important
}

	}
	@media only screen and (max-height: 480px) and (min-width: 360px){
	.fix-to-bottom{
	display:none !important
}

	}
	@media only screen and (max-height: 540px){
	.foot-home{
	display:none
	}
	.fix-to-bottom{
	top:auto !important
}

	}
	@media only screen and (max-height: 540px) and (min-width: 590px){
	.foot-home{
	padding-top:21px;right:90px
}

	}
	@media only screen and (max-height: 595px) and (min-width: 590px){
	.content-wrap--home{
	top:7em;padding-bottom:4em;margin-bottom:0
}

	}
	@media only screen and (max-height: 318.75px) and (min-width: 590px){
	.content-wrap--home{
	top:4em
}

	}
	@media only screen and (max-height: 276.25px) and (min-width: 590px){
	.content-wrap--home{
	position:absolute;top:30%
}

	}
	@media only screen and (max-width: 799px){
	.is-vsplit-landing-page .badge-link.badge-link--half,.is-vsplit-landing-page .badge-link.badge-link--bottom,.is-fullbleed-landing-page .badge-link.badge-link--half,.is-fullbleed-landing-page .badge-link.badge-link--bottom{
	display:none !important
}

	}
	@media only screen and (max-height: 599px){
	.is-vsplit-landing-page .badge-link.badge-link--half,.is-vsplit-landing-page .badge-link.badge-link--bottom,.is-fullbleed-landing-page .badge-link.badge-link--half,.is-fullbleed-landing-page .badge-link.badge-link--bottom{
	display:none !important
}

	}
	@media only screen and (min-width: 800px) and (min-height: 600px){
	.is-vsplit-landing-page .content-wrap--home,.is-fullbleed-landing-page .content-wrap--home{
	display:flex;top:0;bottom:0;width:auto;padding:0 2.5%
}

	}
	.is-vsplit-landing-page .badge-link__wrap,.is-fullbleed-landing-page .badge-link__wrap{
	box-sizing:border-box;display:flex;max-width:none;justify-content:center;align-items:center;padding:30px
	}
	.is-vsplit-landing-page .badge-link,.is-fullbleed-landing-page .badge-link{
	color:#333;cursor:initial
	}
	.is-vsplit-landing-page .badge-link__wrap.badge-link__wrap--hidden,.is-fullbleed-landing-page .badge-link__wrap.badge-link__wrap--hidden{
	display:none
	}
	.is-vsplit-landing-page .badge-link__wrap--flex,.is-fullbleed-landing-page .badge-link__wrap--flex{
	width:100%;max-width:100%;padding:60px 64px
	}
	.is-vsplit-landing-page .badge-link__wrap-inner,.is-fullbleed-landing-page .badge-link__wrap-inner{
	display:flex;text-align:center;margin:0 auto
	}
	.is-vsplit-landing-page .badge-link__img-wrap,.is-fullbleed-landing-page .badge-link__img-wrap{
	flex:1 1 auto;height:calc(95vh - 215px);min-width:0;min-height:0
	}
	.is-vsplit-landing-page .badge-link__img,.is-fullbleed-landing-page .badge-link__img{
	max-width:100%;height:100%
	}
	.is-vsplit-landing-page .badge-link__content,.is-fullbleed-landing-page .badge-link__content{
	display:flex;flex-direction:column;flex:1 1 auto
	}
	.is-vsplit-landing-page .badge-link__title,.is-fullbleed-landing-page .badge-link__title{
	font-size:36px;font-weight:bold;margin-bottom:30px;padding:0
	}
	.is-vsplit-landing-page .badge-link__subtitle,.is-fullbleed-landing-page .badge-link__subtitle{
	font-size:16px;margin-bottom:50px;padding:0
	}
	.is-vsplit-landing-page .badge-link__btn-wrap,.is-fullbleed-landing-page .badge-link__btn-wrap{
	margin-top:auto;width:100%;text-decoration:none
	}
	.is-vsplit-landing-page .badge-link__btn,.is-fullbleed-landing-page .badge-link__btn{
	display:flex;align-items:center;justify-content:center;height:56px;font-size:16px;background-color:#678fff;box-sizing:border-box;margin:auto auto 0;font-weight:600
	}
	@media only screen and (min-width: 800px) and (min-height: 600px){
	.is-vsplit-landing-page .content--home{
	flex:1 1 auto;width:50%;margin:0;height:100%
	}
	.is-vsplit-landing-page .content--home .cw--c{
	top:24%
}

	}
	.is-vsplit-landing-page .badge-link.badge-link--half{
	flex:0 1 auto;box-sizing:border-box;width:50%;max-width:700px;margin:auto;top:2.5vh
	}
	.is-vsplit-landing-page .badge-link__wrap--flex{
	height:90vh
	}
	.is-vsplit-landing-page .badge-link__wrap-inner{
	flex-direction:column;max-width:643px;max-height:820px;height:100%
	}
	.is-vsplit-landing-page .badge-link__img-wrap{
	margin-bottom:5vh
	}
	.is-vsplit-landing-page .badge-link__img{
	max-height:505px
	}
	.is-vsplit-landing-page .badge-link__content{
	flex:1 0 auto
	}
	@media only screen and (max-height: 800px){
	.is-vsplit-landing-page .badge-link.badge-link--half{
	top:5vh
	}
	.is-vsplit-landing-page .badge-link__wrap--flex{
	height:85vh
}

	}
	@media only screen and (max-width: 1440px){
	.is-vsplit-landing-page .badge-link__title{
	font-size:2vw
}

	}
	@media only screen and (min-width: 800px) and (min-height: 600px){
	.is-fullbleed-landing-page .content-wrap--home{
	flex-direction:column;padding-top:10vh
	}
	.is-fullbleed-landing-page .content--home{
	flex:0 1 auto;height:auto
	}
	.is-fullbleed-landing-page .content--home .cw--c{
	position:static
}

	}
	@media only screen and (min-height: 600px) and (max-height: 650px){
	.is-fullbleed-landing-page .logo_homepage{
	width:221px;height:62px;background-image:url(assets/logo_homepage_mobile.normal.v107.svg)
}

	}
	@media only screen and (min-height: 600px) and (max-height: 800px){
	.is-fullbleed-landing-page .tag-home{
	display:none
}

	}
	.is-fullbleed-landing-page .badge-link.badge-link--bottom{
	display:flex;flex:1 1 auto;width:100%;margin:auto 0;border:none;background:none;overflow:hidden
	}
	.is-fullbleed-landing-page .badge-link__wrap--flex{
	margin:0;padding:2vh 2vw
	}
	.is-fullbleed-landing-page .badge-link__wrap{
	margin:0 auto;max-width:100%
	}
	.is-fullbleed-landing-page .badge-link__wrap--msg{
	min-height:15vh;margin:auto;max-width:450px;background-color:#ffffff;border:1px solid #d2d2d2;border-radius:4px;text-align:center
	}
	.is-fullbleed-landing-page .badge-link__wrap-inner{
	justify-content:center;align-items:center;margin:0
	}
	.is-fullbleed-landing-page .badge-link__content{
	flex:none;max-width:400px;margin-left:2vw;text-align:left
	}
	.is-fullbleed-landing-page .badge-link__title{
	text-align:left;line-height:1;margin-bottom:auto;padding-bottom:2vh
	}
	.is-fullbleed-landing-page .badge-link__subtitle{
	margin-bottom:auto;padding-bottom:2vh
	}
	.is-fullbleed-landing-page .badge-link__btn{
	margin-top:0px
	}
	.is-fullbleed-landing-page .badge-link__btn:last-of-type{
	margin-top:15px
	}
	.is-fullbleed-landing-page .badge-link__btn.btn--wire{
	color:rgba(51,51,51,0.5);background:none;border-color:rgba(51,51,51,0.25)
	}
	.is-fullbleed-landing-page .badge-link__img-wrap{
	display:flex;flex:0 1 auto;height:100%;width:calc(100vh - 315px);max-width:750px;justify-content:center;align-items:center;flex-wrap:nowrap;margin-left:100px
	}
	.is-fullbleed-landing-page .badge-link__img{
	display:block
	}
	.modal--duck-dot-com{
	display:flex;padding:1em 0;overflow:scroll;box-sizing:border-box
	}
	.modal--duck-dot-com.is-showing{
	background-color:#808080
	}
	.modal--duck-dot-com .modal__overlay{
	cursor:pointer
	}
	.modal--duck-dot-com .modal__box{
	width:374px
	}
	@media only screen and (max-width: 590px){
	.modal--duck-dot-com .modal__box{
	width:304px
}

	}
	.modal--duck-dot-com .modal__close{
	color:#fff;background:rgba(0,0,0,0.6);padding:6px;border-radius:15px;font-size:12px;font-weight:bold !important;cursor:pointer
	}
	.modal--duck-dot-com .duck-dot-com__image-header{
	height:145px;position:relative;background-image:url(assets/home/landing/duckdotcom-header.jpg);background-size:cover;background-repeat:no-repeat
	}
	.modal--duck-dot-com .duck-dot-com__logo{
	position:absolute;bottom:-22px;left:0;right:0;height:62px;width:62px;margin:0 auto
	}
	.modal--duck-dot-com .duck-dot-com__modal-content{
	padding:42px 54px 34px
	}
	@media only screen and (max-width: 590px){
	.modal--duck-dot-com .duck-dot-com__modal-content{
	padding:42px 29px 34px
}

	}
	.modal--duck-dot-com .duck-dot-com__title{
	font-size:17px;font-weight:bold
	}
	@media only screen and (max-width: 590px){
	.modal--duck-dot-com .duck-dot-com__title{
	font-size:16px
}

	}
	.modal--duck-dot-com .badge-link__bullets{
	text-align:left;padding:20px 0 16px;line-height:1.3;color:#333
	}
	@media only screen and (max-width: 590px){
	.modal--duck-dot-com .badge-link__bullets{
	font-size:13px
}

	}
	.modal--duck-dot-com .badge-link__bullets .badge-link__bullet{
	padding-left:15px
	}
	.modal--duck-dot-com .badge-link__btn-wrap{
	text-decoration:none
	}
	.modal--duck-dot-com .badge-link__btn{
	margin:10px 0 22px;padding:6px 0 5px;background:#66abff
	}
	@media only screen and (max-width: 590px){
	.modal--duck-dot-com .badge-link__btn{
	font-size:13px
}

	}
	.modal--duck-dot-com .badge-link__skip{
	font-weight:bold;font-size:13px;color:#66abff;cursor:pointer
}

